.exercise__main__info
    background-color: $white-color

    padding: $ws-md 
    @include label
    color: $main-color !important
    
    .exercise__main__info--time
        display: flex
        .exercise__main__info--time--label
            width: 50px
            margin-right: $ws-sm
    .type__reps__title
        font-size: 22px !important
    .subHeader
        color: black !important
        font-weight: $fw-rg !important
    hr
        margin: $ws-sm 0