.title
    text-align: left !important
    @include mainTitle
    margin: $ws-md auto
.sub__title
    text-align: left !important
    @include secondTitle
    margin-right: $ws-sm
.paragraph
    text-align: left !important
    @include mainText
    margin-right: $ws-sm

.MuiFormHelperText-filled 
    color: $negative-color !important

.error
    color: $negative-color !important
    font-size: $fs-sm !important
    margin: $ws-sm 0 !important
    width: 100% !important