.title
    text-align: left !important
    @include mainTitle
    margin: $ws-md auto
.sub__title
    text-align: left !important
    @include secondTitle
    margin: $ws-md auto
.paragraph
    @include mainText